<!DOCTYPE html>
<html lang="en">
    <head>
        <title>区块链金融</title>
        <meta charset="utf-8">
        <meta name="hotcss" content="design-width=750">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <link rel="stylesheet" href="http:////at.alicdn.com/t/font_622830_b90vn3g0uhld6lxr.css">
        <!--hotcss.js-->
        <script>
            !function(a,b){"use strict";var c={};!function(){var i,j,k,l,m,n,d=b.querySelector('meta[name="viewport"]'),e=b.querySelector('meta[name="hotcss"]'),f=a.devicePixelRatio||1,g=540,h=0;f=f>=3?3:f>=2?2:1,e&&(i=e.getAttribute("content"),i&&(j=i.match(/initial\-dpr=([\d\.]+)/),j&&(f=parseFloat(j[1])),k=i.match(/max\-width=([\d\.]+)/),k&&(g=parseFloat(k[1])),l=i.match(/design\-width=([\d\.]+)/),l&&(h=parseFloat(l[1])))),b.documentElement.setAttribute("data-dpr",f),c.dpr=f,b.documentElement.setAttribute("max-width",g),c.maxWidth=g,h&&b.documentElement.setAttribute("design-width",h),c.designWidth=h,m=1/f,n="width=device-width, initial-scale="+m+", minimum-scale="+m+", maximum-scale="+m+", user-scalable=no",d?d.setAttribute("content",n):(d=b.createElement("meta"),d.setAttribute("name","viewport"),d.setAttribute("content",n),b.head.appendChild(d))}(),c.px2rem=function(a,b){return b||(b=parseInt(c.designWidth,10)),320*parseInt(a,10)/b/20},c.rem2px=function(a,b){return b||(b=parseInt(c.designWidth,10)),20*a*b/320},c.mresize=function(){var d=b.documentElement.getBoundingClientRect().width||a.innerWidth;return c.maxWidth&&d/c.dpr>c.maxWidth&&(d=c.maxWidth*c.dpr),d?(b.documentElement.style.fontSize=20*d/320+"px",c.callback&&c.callback(),void 0):!1},c.mresize(),a.addEventListener("resize",function(){clearTimeout(c.tid),c.tid=setTimeout(c.mresize,33)},!1),a.addEventListener("load",c.mresize,!1),setTimeout(function(){c.mresize()},333),a.hotcss=c}(window,document),function(a,b){"use strict";var c={};!function(){var i,j,k,l,m,n,d=b.querySelector('meta[name="viewport"]'),e=b.querySelector('meta[name="hotcss"]'),f=a.devicePixelRatio||1,g=540,h=0;f=f>=3?3:f>=2?2:1,e&&(i=e.getAttribute("content"),i&&(j=i.match(/initial\-dpr=([\d\.]+)/),j&&(f=parseFloat(j[1])),k=i.match(/max\-width=([\d\.]+)/),k&&(g=parseFloat(k[1])),l=i.match(/design\-width=([\d\.]+)/),l&&(h=parseFloat(l[1])))),b.documentElement.setAttribute("data-dpr",f),c.dpr=f,b.documentElement.setAttribute("max-width",g),c.maxWidth=g,h&&b.documentElement.setAttribute("design-width",h),c.designWidth=h,m=1/f,n="width=device-width, initial-scale="+m+", minimum-scale="+m+", maximum-scale="+m+", user-scalable=no",d?d.setAttribute("content",n):(d=b.createElement("meta"),d.setAttribute("name","viewport"),d.setAttribute("content",n),b.head.appendChild(d))}(),c.px2rem=function(a,b){return b||(b=parseInt(c.designWidth,10)),320*parseInt(a,10)/b/20},c.rem2px=function(a,b){return b||(b=parseInt(c.designWidth,10)),20*a*b/320},c.mresize=function(){var d=b.documentElement.getBoundingClientRect().width||a.innerWidth;return c.maxWidth&&d/c.dpr>c.maxWidth&&(d=c.maxWidth*c.dpr),d?(b.documentElement.style.fontSize=20*d/320+"px",c.callback&&c.callback(),void 0):!1},c.mresize(),a.addEventListener("resize",function(){clearTimeout(c.tid),c.tid=setTimeout(c.mresize,33)},!1),a.addEventListener("load",c.mresize,!1),setTimeout(function(){c.mresize()},333),a.hotcss=c}(window,document);
        </script>
    </head>
    <body>
        <div id="app">
        </div>
        <!-- inject:manifest -->
        <!-- endinject -->
    </body>
</html>
