// 字体
$font-family-base: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,"微软雅黑",Arial,sans-serif;
// 背景颜色
$bg-color: #f9f9f9!default;
// 主题色
$primary: #FA5559!default;
// 列表list
$border: 1px #eee solid!default;
// 一级标题
$first-header: #333!default;
// 二级标题
$second-header: #666!default;
// 三级标题
$third-header: #999!default;
// 分割线
$segm-border: 1px solid #eee!default;
// 上下外边距
$margin-tb: 20px!default;
// 左右内边距
$padding-lr: 40px!default;
// 按钮
$btn-font: 36px!default;
$btn-height: 98px!default;
// 链接颜色
$link-color: #159BFE!default;
// list
$primary-opacity: 0.4;
